
.icon-back:before { content: '\e800'; } /* '' */
.icon-close:before { content: '\e801'; } /* '' */
.icon-product:before { content: '\e802'; } /* '' */
.icon-history:before { content: '\e803'; } /* '' */
.icon-star:before { content: '\e804'; } /* '' */
.icon-store:before { content: '\e805'; } /* '' */
.icon-search:before { content: '\e806'; } /* '' */
.icon-barcode:before { content: '\e807'; } /* '' */
.icon-menu:before { content: '\e808'; } /* '' */
.icon-calendar:before { content: '\e809'; } /* '' */
.icon-lock:before { content: '\e80a'; } /* '' */
.icon-share:before { content: '\e80b'; } /* '' */
.icon-earth:before { content: '\e80c'; } /* '' */
.icon-facebook:before { content: '\e80d'; } /* '' */
.icon-twitter:before { content: '\e80e'; } /* '' */
.icon-right-arrow:before { content: '\e80f'; } /* '' */
.icon-down-arrow:before { content: '\e810'; } /* '' */
.icon-user:before { content: '\e811'; } /* '' */
.icon-up-arrow:before { content: '\e812'; } /* '' */
.icon-left-arrow:before { content: '\e813'; } /* '' */
.icon-sort-by:before { content: '\e814'; } /* '' */
.icon-filter:before { content: '\e815'; } /* '' */
.icon-pencil:before { content: '\e816'; } /* '' */
.icon-artikel:before { content: '\e817'; } /* '' */
.icon-list-button:before { content: '\e818'; } /* '' */
.icon-love-line:before { content: '\e81b'; } /* '' */
.icon-love-full:before { content: '\e81c'; } /* '' */
.icon-grid:before { content: '\e81d'; } /* '' */
.icon-three-dots:before { content: '\e81e'; } /* '' */
.icon-add:before { content: '\e81f'; } /* '' */
.icon-search-favorite:before { content: '\e821'; } /* '' */
.icon-cart:before { content: '\e822'; } /* '' */
.icon-settings:before { content: '\e825'; } /* '' */
.icon-address-book:before { content: '\e826'; } /* '' */
.icon-orami-cash:before { content: '\e827'; } /* '' */
.icon-fire:before { content: '\e828'; } /* '' */
.icon-group:before { content: '\e829'; } /* '' */
.icon-edit:before { content: '\e82a'; } /* '' */
.icon-orami-credits:before { content: '\e82b'; } /* '' */
.icon-review:before { content: '\e82c'; } /* '' */
.icon-logout:before { content: '\e82d'; } /* '' */
.icon-account:before { content: '\e82e'; } /* '' */
.icon-Help:before { content: '\e82f'; } /* '' */
.icon-instagram:before { content: '\e830'; } /* '' */
.icon-Feedback:before { content: '\e831'; } /* '' */
.icon-autoship:before { content: '\e832'; } /* '' */
.icon-express:before { content: '\e833'; } /* '' */
.icon-show:before { content: '\e834'; } /* '' */
.icon-hide:before { content: '\e835'; } /* '' */
.icon-location:before { content: '\e836'; } /* '' */
.icon-mail:before { content: '\e837'; } /* '' */
.icon-phone:before { content: '\e838'; } /* '' */
.icon-done:before { content: '\e839'; } /* '' */